.card {
        border: 5px solid orange;
        border-radius: 20px;
        width: 210px;
        height: 400px;
        margin: 20px auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        background-color: rgb(240, 240, 240);
        box-shadow: 2px 2px 30px rgb(116, 116, 116);
        // transition: ease 0.4s;
        overflow: hidden;

        &:hover {
            box-shadow: 5px 5px 15px rgb(228, 228, 228);
        }
        
        img {
            height: 200px;
            object-fit: scale-down;
        }
        
        h2 {
            font-size: 18px;
            margin-bottom: 5px;
            min-height: 30px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        h3 {
            font-size: 14px;
            margin-top: 0;
            position: relative;
            top: 15px;
            min-height: 25px;
        }

        p {
            font-size: 12px;
            height: 20vh;  
            position: relative;
            top: 150px;         
        }

        .description {
            position: relative;
            top: 10px;
            min-height: 50px;
        }

        .abv {
            position: relative;
            top: 10px;
        }

        .hidden {
            display: none;
        }

        .closeButton {
            display: none;
        }
}

.primaryCard {
    border: 5px solid rgb(212, 120, 27);
    border-radius: 20px;
    background-color: rgba(46, 46, 46, 0.95);
    box-shadow: 2px 2px 30px rgb(187, 187, 187);
    width: 55vw;
    height: 80vh;
    position: fixed;
    margin: 0 5vw;
    padding: 2vh;
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: min-content repeat(9, 1fr);
    gap: 3vh;
    color: white;
    font-size: 12px;
    z-index: 1;

    img {
        width: 45%;
        grid-column: 1 / 3;
        grid-row: 1 / -1;
        margin: auto;
        margin-top: 2vh;
        background-color: rgba(255, 255, 255, 0.986);
        padding: 20px;
        border-radius: 5px;
    }

    h2 {
        grid-column: 3 / 6;
        grid-row: 2 / 3;
        font-size: 30px;
    }

    h3 {
        grid-column: 6 / 8;
        grid-row: 2 / 3;
        font-size: 22px;
        line-height: 2;
    }

    .description {
        grid-column: 3 / 6;
        grid-row: 4 / -1 ;
        font-size: 15px;
    }

    .abv {
        grid-column: 6 / 8;
        grid-row: 6 / 7;
    }

    .firstBrewed {
        grid-column: 6 / 8;
        grid-row: 5 / 6;
    }

    .foodPairing {
        grid-column: 6 / 8;
        grid-row: 3 / 4 ;
    }

    .ibu {
        grid-column: 6 / 8;
        grid-row: 7 / 8 ;
    }

    .ingredients, .hidden {
        grid-column: 3 / 6;
        grid-row: 3 / 4 ;
    }

    .closeButton {
        grid-column: 7 / -1;
        grid-row: 1 / 2 ;
        font-size: 24px;
        font-weight: bold;
        color: white;
        text-align: right;
        line-height: 0.5;
        cursor: pointer;

        &:hover {
            color: rgba(255, 255, 255, 0.3);
        }
    }
}

@media only screen and (max-width: 1024px) {
    .primaryCard {
        height: 80vh;
        width: 70vw;
        margin-top: 40px;
        font-size: 0.65rem;
        overflow: scroll;

        img {
            width: 40%;
            margin-top: 10vh;
        }

        .description {
            font-size: 0.7rem;
        }
    }
}
    
@media only screen and (max-width: 768px) {
    .primaryCard {
        margin-left: -140px;
        width: 85vw;
        overflow: scroll;

        h3 {
            font-size: 1rem;
        }
    }
}
    
@media only screen and (max-width: 468px) {
    .primaryCard {
        width: 80vw;
        height: 65vh;
        margin: 1vh 6vw;
        overflow: scroll;

        img {
            grid-row: 1 / 5;
            grid-column: 1 / 2;
            // margin-top: auto;
            margin: auto 2.8vw;
            padding: 5px;
            width: 100%;
        }

        h2 {
            grid-row: 2 / 3;
            grid-column: 3 / 8;
            line-height: 1;
            margin: 0px;
            font-size: 1rem;
        }

        h3 {
            grid-row: 3 / 4;
            grid-column: 3 / 8;
            font-size: 0.7rem;
            margin: 0;
        }

        .ingredients, .hidden  {
            grid-row: 5 / 6;
            grid-column: 1 / 5;           
        }

        .abv {
            grid-row: 6 / 7;
            grid-column: 5 / 8; 
        }

        .foodPairing {
            grid-row: 6 / 7;
            grid-column: 1 / 5; 
        }

        .firstBrewed {
            grid-row: 5 / 6;
            grid-column: 5 / 8; 
        }
        
        .ibu {
            grid-row:  7 / 8;
            grid-column: 5 / 8; 
        }

        .description {
            grid-row: 7 / -1;
            grid-column: 1 / 5;
        }

        .closeButton {
            padding: 0;
        }
    }
}